dify_apps/跨境电商ERP需求文档生成器.yml
app:
  description: 根据简单的需求大纲，自动生成跨境电商ERP系统的完整需求文档，包含整体架构图、系统流程图、每个功能点的输入输出和测试要点。
  icon: "\U0001F4CB"
  icon_background: '#E4FBCC'
  mode: workflow
  name: 跨境电商ERP需求文档生成器
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.31@638e473191f93192f670875b06edf0bcb89a3433aa736be89ed1749073b8a168
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .txt
      - .md
      - .pdf
      - .doc
      - .docx
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1740100000001-source-1740100000010-target
      source: '1740100000001'
      sourceHandle: source
      target: '1740100000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1740100000010-source-1740100000002-target
      source: '1740100000010'
      sourceHandle: source
      target: '1740100000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1740100000002-source-1740100000003-target
      source: '1740100000002'
      sourceHandle: source
      target: '1740100000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1740100000002-source-1740100000004-target
      source: '1740100000002'
      sourceHandle: source
      target: '1740100000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1740100000003-source-1740100000012-target
      source: '1740100000003'
      sourceHandle: source
      target: '1740100000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1740100000004-source-1740100000012-target
      source: '1740100000004'
      sourceHandle: source
      target: '1740100000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1740100000012-source-1740100000009-target
      source: '1740100000012'
      sourceHandle: source
      target: '1740100000009'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: "\u7528\u6237\u8F93\u5165"
        type: start
        variables:
        - allowed_file_extensions:
          - .txt
          - .md
          - .pdf
          - .doc
          - .docx
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: "\u8BF7\u4E0A\u4F20\u9700\u6C42\u5927\u7EB2\u6587\u6863\uFF08\u652F\
            \u6301 txt/md/pdf/doc/docx\uFF09"
          label: "\u9700\u6C42\u5927\u7EB2\u6587\u4EF6"
          max_length: 1
          options: []
          placeholder: ''
          required: true
          type: file
          variable: requirement_file
        - default: "B2C\u96F6\u552E"
          hint: ''
          label: "\u4E1A\u52A1\u6A21\u5F0F"
          options:
          - "B2C\u96F6\u552E"
          - "B2B\u6279\u53D1"
          - "B2C+B2B\u6DF7\u5408"
          - "DTC\u54C1\u724C\u51FA\u6D77"
          placeholder: ''
          required: true
          type: select
          variable: business_model
        - default: ''
          hint: ''
          label: "\u76EE\u6807\u5E02\u573A"
          max_length: 256
          options: []
          placeholder: "\u4F8B\u5982\uFF1A\u5317\u7F8E\u3001\u6B27\u6D32\u3001\u4E1C\
            \u5357\u4E9A\u3001\u5168\u7403"
          required: false
          type: text-input
          variable: target_market
        - default: ''
          hint: ''
          label: "\u5BF9\u63A5\u5E73\u53F0"
          max_length: 512
          options: []
          placeholder: "\u4F8B\u5982\uFF1AAmazon\u3001Shopify\u3001TikTok Shop\u3001\
            Shopee\u3001\u901F\u5356\u901A"
          required: false
          type: text-input
          variable: platforms
        - default: "\u8BE6\u7EC6"
          hint: ''
          label: "\u6587\u6863\u8BE6\u7EC6\u7A0B\u5EA6"
          options:
          - "\u7CBE\u7B80"
          - "\u8BE6\u7EC6"
          - "\u5B8C\u6574"
          placeholder: ''
          required: true
          type: select
          variable: detail_level
        - default: "\u9ED8\u8BA4\u76EE\u5F55(~/Documents/ERP\u9700\u6C42\u6587\u6863)"
          hint: ''
          label: "\u6587\u4EF6\u4FDD\u5B58\u76EE\u5F55"
          options:
          - "\u9ED8\u8BA4\u76EE\u5F55(~/Documents/ERP\u9700\u6C42\u6587\u6863)"
          - "\u684C\u9762(~/Desktop)"
          - "\u4E0B\u8F7D(~/Downloads)"
          - "\u6587\u6863(~/Documents)"
          placeholder: ''
          required: true
          type: select
          variable: save_directory
      height: 220
      id: '1740100000001'
      position:
        x: 0
        y: 200
      positionAbsolute:
        x: 0
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u6DF1\u5EA6\u89E3\u6790\u9700\u6C42\u5927\u7EB2\uFF0C\u62C6\u89E3\
          \u6A21\u5757\u548C\u529F\u80FD\u70B9"
        model:
          completion_params: {}
          mode: chat
          name: qwen3-coder-480b-a35b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: sys-analyze-001
          role: system
          text: "\u4F60\u662F\u8D44\u6DF1\u7684\u8DE8\u5883\u7535\u5546ERP\u7CFB\u7EDF\
            \u67B6\u6784\u5E08\uFF0C\u62E5\u670915\u5E74\u4EE5\u4E0A\u7684\u8DE8\u5883\
            \u7535\u5546\u4E1A\u52A1\u548C\u7CFB\u7EDF\u8BBE\u8BA1\u7ECF\u9A8C\u3002\n\
            \n\u6839\u636E\u7528\u6237\u63D0\u4F9B\u7684\u9700\u6C42\u5927\u7EB2\uFF0C\
            \u8FDB\u884C\u6DF1\u5EA6\u9700\u6C42\u5206\u6790\uFF0C\u8F93\u51FA\u7ED3\
            \u6784\u5316\u7684\u6A21\u5757\u62C6\u89E3\u7ED3\u679C\u3002\n\n\u80CC\u666F\
            \u4FE1\u606F\uFF1A\n- \u4E1A\u52A1\u6A21\u5F0F\uFF1A{{#1740100000001.business_model#}}\n\
            - \u76EE\u6807\u5E02\u573A\uFF1A{{#1740100000001.target_market#}}\n- \u5BF9\
            \u63A5\u5E73\u53F0\uFF1A{{#1740100000001.platforms#}}\n- \u6587\u6863\u8BE6\
            \u7EC6\u7A0B\u5EA6\uFF1A{{#1740100000001.detail_level#}}\n\n\u5206\u6790\
            \u8981\u6C42\uFF1A\n\n1. \u6A21\u5757\u62C6\u89E3\n\u5C06\u9700\u6C42\u5927\
            \u7EB2\u62C6\u89E3\u4E3A\u6E05\u6670\u7684\u7CFB\u7EDF\u6A21\u5757\uFF0C\
            \u6BCF\u4E2A\u6A21\u5757\u5305\u542B\uFF1A\n- \u6A21\u5757\u540D\u79F0\n\
            - \u6838\u5FC3\u804C\u8D23\uFF081-2\u53E5\u8BDD\uFF09\n- \u5305\u542B\u7684\
            \u529F\u80FD\u70B9\u5217\u8868\n\n2. \u529F\u80FD\u70B9\u5217\u8868\n\u5C06\
            \u6240\u6709\u529F\u80FD\u70B9\u5E73\u94FA\u4E3A\u4E00\u4E2A\u6570\u7EC4\
            \uFF0C\u683C\u5F0F\u4E3A\uFF1A\u300C\u6A21\u5757\u540D-\u529F\u80FD\u540D\
            \u300D\n\n3. \u8DE8\u5883\u7535\u5546\u7279\u6709\u8003\u8651\n\u6839\u636E\
            \u4E1A\u52A1\u6A21\u5F0F\u548C\u76EE\u6807\u5E02\u573A\uFF0C\u8865\u5145\
            \u7528\u6237\u53EF\u80FD\u6F0F\u6389\u7684\u5173\u952E\u529F\u80FD\uFF1A\n\
            - \u591A\u5E01\u79CD/\u591A\u8BED\u8A00\u652F\u6301\n- \u8DE8\u5883\u7269\
            \u6D41\u7279\u6B8A\u6D41\u7A0B\uFF08\u6D77\u5916\u4ED3\u3001\u4FDD\u7A0E\
            \u4ED3\u3001\u5934\u7A0B\u7269\u6D41\u3001\u672B\u7AEF\u6D3E\u9001\uFF09\n\
            - \u5408\u89C4\u8981\u6C42\uFF08\u7A0E\u52A1\u3001\u6D77\u5173\u3001\u6570\
            \u636E\u5408\u89C4\u5982GDPR\uFF09\n- \u5E73\u53F0API\u5BF9\u63A5\u80FD\
            \u529B\n- \u6C47\u7387\u7BA1\u7406\n\n\u8F93\u51FA\u683C\u5F0F\uFF1A\u4E25\
            \u683C\u6309 JSON \u683C\u5F0F\u8F93\u51FA\uFF0C\u4E0D\u8981\u5305\u542B\
            \u4EFB\u4F55\u5176\u4ED6\u5185\u5BB9\u3002"
        - id: user-analyze-001
          role: user
          text: "\u4EE5\u4E0B\u662F\u6211\u7684\u9700\u6C42\u5927\u7EB2\uFF1A\n\n\
            {{#1740100000010.text#}}\n\n\u8BF7\u5206\u6790\u5E76\u8F93\u51FA\u7ED3\u6784\
            \u5316\u7ED3\u679C\u3002"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              cross_border_notes:
                description: "\u8DE8\u5883\u7535\u5546\u7279\u6709\u8003\u8651\u548C\
                  \u8865\u5145\u5EFA\u8BAE"
                type: string
              feature_list:
                description: "\u6240\u6709\u529F\u80FD\u70B9\u7684\u5E73\u94FA\u5217\
                  \u8868\uFF0C\u683C\u5F0F\uFF1A\u6A21\u5757\u540D-\u529F\u80FD\u540D"
                items:
                  type: string
                type: array
              modules:
                items:
                  additionalProperties: false
                  properties:
                    features:
                      items:
                        type: string
                      type: array
                    module_desc:
                      type: string
                    module_name:
                      type: string
                  required:
                  - module_name
                  - module_desc
                  - features
                  type: object
                type: array
              project_name:
                description: "\u9879\u76EE\u540D\u79F0"
                type: string
              project_summary:
                description: "\u9879\u76EE\u6982\u8FF0\uFF0C100\u5B57\u5185"
                type: string
            required:
            - project_name
            - project_summary
            - modules
            - feature_list
            - cross_border_notes
            type: object
        structured_output_enabled: true
        title: "\u9700\u6C42\u6DF1\u5EA6\u89E3\u6790"
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1740100000002'
      position:
        x: 453
        y: 200
      positionAbsolute:
        x: 453
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u751F\u6210\u7CFB\u7EDF\u6574\u4F53\u67B6\u6784\u56FE (Mermaid)"
        model:
          completion_params: {}
          mode: chat
          name: qwen3-coder-480b-a35b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: sys-arch-001
          role: system
          text: "\u4F60\u662F\u8D44\u6DF1\u7CFB\u7EDF\u67B6\u6784\u5E08\uFF0C\u64C5\
            \u957F\u7528 Mermaid \u7ED8\u5236\u6E05\u6670\u7684\u67B6\u6784\u56FE\u3002\
            \n\n\u6839\u636E\u9700\u6C42\u5206\u6790\u7ED3\u679C\uFF0C\u751F\u6210\u8DE8\
            \u5883\u7535\u5546ERP\u7CFB\u7EDF\u7684\u6574\u4F53\u67B6\u6784\u56FE\u3002\
            \n\n\u67B6\u6784\u56FE\u8981\u6C42\uFF1A\n1. \u4F7F\u7528 Mermaid graph\
            \ TD \u8BED\u6CD5\n2. \u5FC5\u987B\u5305\u542B\u4EE5\u4E0B\u5C42\u6B21\uFF1A\
            \n   - \u7528\u6237\u5C42\uFF08\u524D\u7AEF\u5165\u53E3\uFF09\n   - \u5E94\
            \u7528\u5C42\uFF08\u5404\u4E1A\u52A1\u6A21\u5757\uFF09\n   - \u670D\u52A1\
            \u5C42\uFF08\u6838\u5FC3\u670D\u52A1\uFF09\n   - \u6570\u636E\u5C42\uFF08\
            \u6570\u636E\u5E93/\u7F13\u5B58\uFF09\n   - \u5916\u90E8\u96C6\u6210\u5C42\
            \uFF08\u7B2C\u4E09\u65B9\u5E73\u53F0/\u7269\u6D41/\u652F\u4ED8\uFF09\n3.\
            \ \u7528\u5B50\u56FE (subgraph) \u5206\u7EC4\u6A21\u5757\n4. \u8282\u70B9\
            \u540D\u79F0\u7528\u4E2D\u6587\n5. \u8FDE\u7EBF\u8868\u793A\u6A21\u5757\
            \u95F4\u7684\u6838\u5FC3\u4F9D\u8D56\u5173\u7CFB\n\n\u8F93\u51FA\u683C\u5F0F\
            \uFF1A\u53EA\u8F93\u51FA Mermaid \u4EE3\u7801\uFF0C\u4E0D\u8981\u5305\u542B\
            \u4EFB\u4F55\u89E3\u91CA\u6027\u6587\u5B57\u3002\u4E0D\u8981\u7528 ```mermaid\
            \ ``` \u5305\u88F9\uFF0C\u76F4\u63A5\u8F93\u51FA mermaid \u4EE3\u7801\u3002"
        - id: user-arch-001
          role: user
          text: "\u4EE5\u4E0B\u662F\u9700\u6C42\u5206\u6790\u7ED3\u679C\uFF1A\n\n\
            {{#1740100000002.text#}}\n\n\u8BF7\u751F\u6210\u7CFB\u7EDF\u6574\u4F53\u67B6\
            \u6784\u56FE\u3002"
        selected: false
        title: "\u67B6\u6784\u56FE\u751F\u6210"
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1740100000003'
      position:
        x: 755
        y: 80
      positionAbsolute:
        x: 755
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u751F\u6210\u7CFB\u7EDF\u6838\u5FC3\u6D41\u7A0B\u56FE (Mermaid)"
        model:
          completion_params: {}
          mode: chat
          name: qwen3-coder-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: sys-flow-001
          role: system
          text: "\u4F60\u662F\u8D44\u6DF1\u4E1A\u52A1\u5206\u6790\u5E08\uFF0C\u64C5\
            \u957F\u7528 Mermaid \u7ED8\u5236\u6E05\u6670\u7684\u4E1A\u52A1\u6D41\u7A0B\
            \u56FE\u3002\n\n\u6839\u636E\u9700\u6C42\u5206\u6790\u7ED3\u679C\uFF0C\u751F\
            \u6210\u8DE8\u5883\u7535\u5546ERP\u7CFB\u7EDF\u7684\u6838\u5FC3\u4E1A\u52A1\
            \u6D41\u7A0B\u56FE\u3002\n\n\u6D41\u7A0B\u56FE\u8981\u6C42\uFF1A\n1. \u4F7F\
            \u7528 Mermaid flowchart TD \u8BED\u6CD5\n2. \u5FC5\u987B\u8986\u76D6\u4EE5\
            \u4E0B\u6838\u5FC3\u6D41\u7A0B\uFF1A\n   - \u5546\u54C1\u4E0A\u67B6\u6D41\
            \u7A0B\uFF08\u4ECE\u91C7\u8D2D\u5230\u591A\u5E73\u53F0\u4E0A\u67B6\uFF09\
            \n   - \u8BA2\u5355\u5904\u7406\u6D41\u7A0B\uFF08\u4ECE\u4E0B\u5355\u5230\
            \u5B8C\u6210\u53D1\u8D27\uFF09\n   - \u9000\u6362\u8D27\u6D41\u7A0B\n  \
            \ - \u8D22\u52A1\u7ED3\u7B97\u6D41\u7A0B\n3. \u7528\u4E0D\u540C\u5F62\u72B6\
            \u533A\u5206\u8282\u70B9\u7C7B\u578B\uFF1A\n   - \u5706\u89D2\u77E9\u5F62\
            : \u5F00\u59CB/\u7ED3\u675F\n   - \u77E9\u5F62: \u5904\u7406\u6B65\u9AA4\n\
            \   - \u83F1\u5F62: \u5224\u65AD\u6761\u4EF6\n   - \u5E73\u884C\u56DB\u8FB9\
            \u5F62: \u6570\u636E\u5B58\u50A8\n4. \u8282\u70B9\u540D\u79F0\u7528\u4E2D\
            \u6587\n5. \u7528\u5B50\u56FE (subgraph) \u5206\u9694\u4E0D\u540C\u7684\u4E1A\
            \u52A1\u6D41\u7A0B\n\n\u8F93\u51FA\u683C\u5F0F\uFF1A\u53EA\u8F93\u51FA Mermaid\
            \ \u4EE3\u7801\uFF0C\u4E0D\u8981\u5305\u542B\u4EFB\u4F55\u89E3\u91CA\u6027\
            \u6587\u5B57\u3002\u4E0D\u8981\u7528 ```mermaid ``` \u5305\u88F9\uFF0C\u76F4\
            \u63A5\u8F93\u51FA mermaid \u4EE3\u7801\u3002"
        - id: user-flow-001
          role: user
          text: "\u4EE5\u4E0B\u662F\u9700\u6C42\u5206\u6790\u7ED3\u679C\uFF1A\n\n\
            {{#1740100000002.text#}}\n\n\u8BF7\u751F\u6210\u7CFB\u7EDF\u6838\u5FC3\u4E1A\
            \u52A1\u6D41\u7A0B\u56FE\u3002"
        selected: false
        title: "\u6D41\u7A0B\u56FE\u751F\u6210"
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1740100000004'
      position:
        x: 755
        y: 340
      positionAbsolute:
        x: 755
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\nimport urllib.request\nimport os\n\nDIR_MAP = {\n    '\u9ED8\
          \u8BA4\u76EE\u5F55(~/Documents/ERP\u9700\u6C42\u6587\u6863)': os.path.expanduser('~/Documents/ERP\u9700\
          \u6C42\u6587\u6863'),\n    '\u684C\u9762(~/Desktop)': os.path.expanduser('~/Desktop'),\n\
          \    '\u4E0B\u8F7D(~/Downloads)': os.path.expanduser('~/Downloads'),\n   \
          \ '\u6587\u6863(~/Documents)': os.path.expanduser('~/Documents'),\n}\n\n\
          def main(llm_output_text: str, business_model: str, target_market: str,\
          \ platforms: str, detail_level: str, architecture_diagram: str, flowchart_diagram:\
          \ str, save_directory: str) -> dict:\n    try:\n        parsed = json.loads(llm_output_text)\n\
          \    except json.JSONDecodeError:\n        return {'task_id': '', 'total_count':\
          \ '0', 'submit_status': 'LLM\u8F93\u51FA\u89E3\u6790\u5931\u8D25'}\n   \
          \ feature_list = parsed.get('feature_list', [])\n    if not feature_list:\n\
          \        return {'task_id': '', 'total_count': '0', 'submit_status': '\u529F\
          \u80FD\u70B9\u5217\u8868\u4E3A\u7A7A'}\n    modules = parsed.get('modules',\
          \ [])\n    module_lines = []\n    for m in modules:\n        module_lines.append(f\"\
          ### {m.get('module_name', '')}\")\n        module_lines.append(f\"{m.get('module_desc',\
          \ '')}\")\n        for f in m.get('features', []):\n            module_lines.append(f\"\
          - {f}\")\n        module_lines.append('')\n    doc_context = {\n        'project_name':\
          \ parsed.get('project_name', '\u8DE8\u5883\u7535\u5546ERP\u7CFB\u7EDF'),\n\
          \        'project_summary': parsed.get('project_summary', ''),\n        'cross_border_notes':\
          \ parsed.get('cross_border_notes', ''),\n        'architecture_diagram':\
          \ architecture_diagram,\n        'flowchart_diagram': flowchart_diagram,\n\
          \        'module_overview': '\\n'.join(module_lines),\n        'save_directory':\
          \ DIR_MAP.get(save_directory, os.path.expanduser('~/Documents/ERP\u9700\u6C42\
          \u6587\u6863')),\n    }\n    payload = json.dumps({\n        'feature_list':\
          \ feature_list,\n        'context': llm_output_text,\n        'business_model':\
          \ business_model,\n        'target_market': target_market,\n        'platforms':\
          \ platforms,\n        'detail_level': detail_level,\n        'doc_context':\
          \ doc_context\n    }).encode('utf-8')\n    req = urllib.request.Request(\n\
          \        'http://host.docker.internal:8766/api/tasks',\n        data=payload,\n\
          \        headers={'Content-Type': 'application/json'},\n        method='POST'\n\
          \    )\n    try:\n        resp = urllib.request.urlopen(req, timeout=30)\n\
          \        result = json.loads(resp.read().decode())\n        task_id = result.get('task_id',\
          \ '')\n        total = result.get('total_count', 0)\n        return {\n  \
          \          'task_id': task_id,\n            'total_count': str(total),\n  \
          \          'submit_status': f'\u4EFB\u52A1\u5DF2\u63D0\u4EA4\uFF0C\u5171\
          \ {total} \u4E2A\u529F\u80FD\u70B9\u6B63\u5728\u5E76\u884C\u5904\u7406\u3002\
          \u6587\u6863\u5B8C\u6210\u540E\u5C06\u81EA\u52A8\u4FDD\u5B58\u5230: {doc_context[\"save_directory\"\
          ]}'\n        }\n    except Exception as e:\n        return {\n            'task_id':\
          \ '',\n            'total_count': '0',\n            'submit_status': f'\u4EFB\
          \u52A1\u63D0\u4EA4\u5931\u8D25: {str(e)}'\n        }"
        code_language: python3
        desc: "\u5C06\u529F\u80FD\u70B9\u5217\u8868\u548C\u6587\u6863\u4E0A\u4E0B\
          \u6587\u63D0\u4EA4\u5230\u4EFB\u52A1\u7BA1\u7406\u670D\u52A1\uFF0C\u4EFB\
          \u52A1\u5B8C\u6210\u540E\u81EA\u52A8\u6C47\u603B\u5E76\u4FDD\u5B58\u6587\
          \u4EF6"
        outputs:
          submit_status:
            type: string
          task_id:
            type: string
          total_count:
            type: string
        selected: false
        title: "\u63D0\u4EA4\u4EFB\u52A1"
        type: code
        variables:
        - value_selector:
          - '1740100000002'
          - text
          variable: llm_output_text
        - value_selector:
          - '1740100000001'
          - business_model
          variable: business_model
        - value_selector:
          - '1740100000001'
          - target_market
          variable: target_market
        - value_selector:
          - '1740100000001'
          - platforms
          variable: platforms
        - value_selector:
          - '1740100000001'
          - detail_level
          variable: detail_level
        - value_selector:
          - '1740100000003'
          - text
          variable: architecture_diagram
        - value_selector:
          - '1740100000004'
          - text
          variable: flowchart_diagram
        - value_selector:
          - '1740100000001'
          - save_directory
          variable: save_directory
      height: 98
      id: '1740100000012'
      position:
        x: 1057
        y: 200
      positionAbsolute:
        x: 1057
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        outputs:
        - value_selector:
          - '1740100000012'
          - task_id
          value_type: string
          variable: task_id
        - value_selector:
          - '1740100000012'
          - total_count
          value_type: string
          variable: total_count
        - value_selector:
          - '1740100000012'
          - submit_status
          value_type: string
          variable: submit_status
        selected: false
        title: "\u7ED3\u679C\u8F93\u51FA"
        type: end
      height: 142
      id: '1740100000009'
      position:
        x: 1359
        y: 200
      positionAbsolute:
        x: 1359
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        is_array_file: false
        selected: false
        title: "\u6587\u6863\u63D0\u53D6\u5668"
        type: document-extractor
        variable_selector:
        - '1740100000001'
        - requirement_file
      height: 92
      id: '1740100000010'
      position:
        x: 151
        y: 200
      positionAbsolute:
        x: 151
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -50
      y: -8
      zoom: 1
